<div class="menu">
    <app-sidebar></app-sidebar>
</div>
<div class="contenido">
    <div class="tutoria">
        <h1>Seccion de Tutoria</h1>
        <h3>Generar Enlace de reunion</h3>
        <button>Generar</button>
        <h3>Seleccionar Alumno</h3>
        <select name="deporte">

            <option>Jairo</option>

            <option>Críquet</option>

            <option>Básquetbol</option>

            <option>Hockey</option>

            <option>Tenis</option>

        </select>
        <h3>Establecer Dia</h3>
        <input type="date">
        <h3>Establecer Hora</h3>
        <input type="time">
        <br>
        <br>

        <button>Enviar invitacion</button>
        <br>
        <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                    <tr>

                        <th>Alumno</th>
                        <th>Dia</th>
                        <th>Hora</th>
                        <th>Enlace</th>
                        <th>Grabacion</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Content 1</td>
                        <td>Content 1</td>
                        <td>Content 1</td>
                        <td>Content 1</td>
                        <td>Content 1</td>
                        <td><button routerLink="/reunion">Seleccionar</button></td>
                    </tr>
                    <tr>
                        <td>Content 2</td>
                        <td>Content 2</td>
                        <td>Content 2</td>
                        <td>Content 2</td>
                        <td>Content 2</td>
                        <td><button>Seleccionar</button></td>
                    </tr>
                    <tr>
                        <td>Content 3</td>
                        <td>Content 3</td>
                        <td>Content 3</td>
                        <td>Content 3</td>
                        <td>Content 3</td>
                        <td><button>Seleccionar</button></td>
                    </tr>
                <tbody>
            </table>
        </div>

    </div>

</div>