<div class="menu">
    <app-sidebar></app-sidebar>
</div>

<div class="contenido">
    <div class="reunion">
        <h1>Detalles de Reunion</h1>
        <h3>Tutor:</h3>
        <p>Marco</p>
        <h3>Alumno</h3>
        <p>Jairo</p>
        <h3>Dia</h3>
        <p>Lunes</p>
        <h3>Hora</h3>
        <p>10:00</p>
        <h3>Enlace</h3>
        <p>www.meet.com</p>
        <h3>Grabacion</h3>
        <input type="text">
        <h3>Observaciones</h3>
        <textarea name="" id="" cols="30" rows="10"></textarea>
        <br>
        <br>
        <button>Guardar</button>
    </div>
</div>