<div class="menu">
    <app-sidebar></app-sidebar>
</div>

<div class="contenido">
    <div class="reunion">
        <h1>Detalles de Reunion</h1>
        <h3>Tutor:</h3>
        <p>Marco</p>
        <h3>Alumno</h3>
        <p>{{tutoria.alumno}}</p>
        <h3>Dia</h3>
        <p>{{tutoria.fecha}}</p>
        <h3>Hora</h3>
        <p>{{tutoria.hora}}</p>
        <h3>Enlace</h3>
        <p>www.meet.com</p>
        <div class="container">
            <div class="row">
            <div class="col-lg-6 offset-lg-3">   
            <div class="card-body text-center">
    </div>
    
    
        <form [formGroup]="reunionForm"(submit)="agregarAcuerdo(reunionForm.value)">            
            <div class="form-floating mb-3">
                <input type="text" class="form-control" formControlName="enlace" id="enlace" placeholder="Enter enlace" aria-describedby="enlace">
                <label for="email">Enlace de la Grabacion</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" formControlName="enlace" id="enlace" placeholder="Enter enlace" aria-describedby="enlace">
                <label for="email">Acuerdo</label>
            </div>
            <div class="form-floating">
                <button type="submit" class="btn btn-primary mb-2">Enviar invitacion</button>
            </div>
        
        </form>
    </div>
</div>