<div class="container">
    <div class="card">
        <div class="header">
            <h3>App-de-Monitoreo</h3>
            <div class="perfil">
                <img class="imagen-perfil" src="../../../assets/images/perfil.webp" alt="">
                <h4>Mi nombre</h4>
            </div>

        </div>
        <div class="body">
            <ul>

                <li><button routerLink="/listar-alumnos"><i class="fas fa-table icon"></i>Lista de alumnos</button></li>
                <li><button routerLink="/agregar-alumno"><i class="fab fa-wpforms icon"></i>Agregar Alumno</button></li>
                <li><button routerLink="/l"><i class="fas fa-boxes icon"></i>Perfil</button></li>
                <li><button routerLink="/"><i class="fas fa-underline icon"></i>Cursos</button></li>
                <li><button routerLink="/"><i class="fas fa-chart-pie icon"></i> Estadisticas</button></li>
                <!-- <li><i class="fab fa-wpforms icon"></i> Forms
                    <ul>
                        <li><i class="fas fa-pencil-alt icon"></i> First form</li>
                        <li><i class="fas fa-paper-plane icon"></i> Second form</li>
                    </ul>
                </li> -->

            </ul>
        </div>
    </div>
</div>